.register_button{
    display: inline-block;
    font-size: 1.6rem !important;
    font-weight: 400;
    color: rgb(255, 255, 255);
    background-color: #1d1d1d;
    border-radius: 3px;
    padding: 9px 16px;
    transition: .4s;
    cursor: pointer;
    margin-left: 30px;
    text-transform: none;
    position: relative;
    z-index: 22;
    overflow: hidden;
    transition: 1s;
}

.register_button::after{
    content: '';
    position: absolute;
    transform: translate(-50%,-50%);
    top: var(--y);
    left: var(--x);
    border-radius: 50%;
    height: 0px;
    width: 0px;
    transform-origin: center;
    background: linear-gradient(#2076f8,#194eff);
    z-index: -11;
    transition: height 1s, width .8s;
}

.register_button:hover::after{
    height: 350px;
    width: 350px;
}