@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@300;400;700&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  /* font-family: 'Comic Neue', cursive; */
  width: 100vw;
  overflow-x: hidden !important;
  position: relative;
  background-color: #f4f8ff;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
}

* {
  box-sizing: border-box;
  z-index: 1;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1300px;
  margin: auto;
  width: 100%;
  padding: 0 1rem;
}

header h1 {
  font-size: 2rem;
}

header nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background: gray;
  margin-left: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  cursor: pointer;
}

.profile a {
  margin: 0;
  color: white;
  text-transform: capitalize;
}

section {
  max-width: 1300px;
  margin: auto;
  width: 100%;
  padding: 1rem;
}

/* TODO: */
.ql-container {
  min-height: 340px;
  font-size: 20px !important;
  font-family: 'Comic Neue' !important;
}

.ql-snow .ql-editor .ql-code-block-container {
  padding: 15px;
  font-size: 1rem;
}

@media (max-width:768px) {
  .ql-container {
    font-size: 16px;
  }
}

@media (max-width:480px) {
  /* #__next{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    overflow-x: hidden;
    width: 100%;
  } */

  header h1 {
    font-size: 1.6rem;
  }

  header nav .create_post_button {
    display: none !important;
  }

  header .profile {
    height: 35px;
    width: 35px;
    font-size: 1rem;
    margin-left: 0;
  }
}

.ql-container iframe {
  width: 80%;
  aspect-ratio: 16/9;
}

/* pre.ql-syntax {
  font-size: 14px;
} */

.post_cover_image {
  aspect-ratio: 5/3;
  overflow: hidden;
  max-width: 700px;
  /* padding: 10px; */
  margin: 2rem 0 1rem 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.post_cover_image img {
  width: 100%;
  object-fit: cover;
}

.ql-snow .ql-editor .ql-code-block-container {
  background-color: #23241f;
  color: #f8f8f2;
  overflow-x: auto !important;
  font-family: monospace;
}

.ql-code-block-container::-webkit-scrollbar{
  height:8px;
  border: none;
}

.ql-code-block-container::-webkit-scrollbar-thumb{
  border: none;
}

.style_react-code-input__1Z-nz {
  display: flex;
  justify-content: center;
}

/* Sekelton Loader */
.skeleton_box {
  background-image: linear-gradient(90deg,
      #e7edf1 0,
      #f1f6fa 200px,
      #e7edf1 400px);
  background-size: 1200px;
  animation: shimmer 1.3s infinite linear;
}

@keyframes shimmer {
  0% {
    background-position: -400px;
  }

  100%,
  50% {
    background-position: 700px;
  }
}

.spinner {
  display: none;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  border: 2px solid #d1d1d1;
  background-color: rgb(163, 163, 163);
}

::-webkit-scrollbar-track-piece {
  background-color: #dddddd00 !important;
}