.loading_overlay{
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    opacity: 1;
    visibility: visible;
    z-index: 999;
    transition: .5s;
}

.loading_overlay_hidden{
    opacity: 0 !important;
    visibility: hidden !important;
    z-index: -1;
    /* transition-delay: .4s; */
}

.loading_overlay .otpBox{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    max-width: 500px;
    width: 100%;
    padding: 1rem;
    background-color: white;
    border-radius: 6px;
    min-height: 250px;
    display: grid;
    place-items: center;
}

.otpBox_hidden{
    display: none !important;
}

.otpBox button{
    background:black; 
    color:#fff;
    outline:none; 
    padding:5px 8px;
    border-radius: 3px;
    border: none;
    cursor: pointer;
}

.otpBox button:disabled{
    background-color: lightgray;
    cursor: not-allowed;
}

.otp_action{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    margin-top: 1rem;
}

.submit_button{
    font-size: 1rem;
    padding: 8px 30px !important;
    border-radius: 7px;
    background-color: rgb(73, 37, 255) !important;
}

.submit_button:last-child{
    font-size: 1rem;
    padding: 8px 30px !important;
    border-radius: 4px;
    background-color: rgba(73, 37, 255, 0) !important;
    border: 1px solid gray;
    color: black;
    text-align: center;
    cursor: pointer;
}

.loading_overlay input[type="tel"] {
    width: 42px !important;
    height: 60px !important;
    font-size: 1.5rem;
}

.otp_message{
    font-size: 1.2rem;
    max-width: 80%;
    margin: auto;
    text-align: center;
    font-weight: 500;
    margin-bottom: 1rem;
}

.otp_spam_message{
    border: 2px solid #ffbcbc;
    margin-top: 1rem;
    padding: 10px;
    border-radius: 4px;
    color: #e95c5c;
    background: #ff00000d;
    text-align: center;
}