.container_fluid{
    width: 100%;
}

.main_nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.logo_search{
    display: flex;
    align-items: center;
}

.logo{
    font-size: 4rem;
    font-weight: 500;
    cursor: pointer;
    margin-right: 30px;
}

.search_bar{
    display: flex;
    align-items: center;
    background-color: #ffffff;
    border: 1px solid rgb(169, 167, 167);
    border-radius: 4px;
    padding: 5px 10px;
    width: 350px;
    transition: .3s;
}

.search_bar:focus-within{
    border-color: #4028c9;
    box-shadow: 0 0 3px #4028c9b3;
}

.search_input{
    flex: 1;
}

.search_bar input{
    width: 100%;
    border: none;
    outline: none;
    padding: 10px 10px;
    border-radius: 4px;
    font-size: 1.6rem;
}

.search_bar svg{
    font-size: 3rem;
    color: rgb(0, 0, 0);
    cursor: pointer;
}

.account{
    display: flex;
    align-items: center;
    user-select: none;
}

.login_button{
    font-size: 1.8rem;
    font-weight: 400;
    cursor: pointer;
}

.register_button{
    font-size: 1.6rem !important;
    font-weight: 400;
    color: black;
    border: 1px solid black;
    border-radius: 3px;
    padding: 6px 14px;
    transition: .4s;
    cursor: pointer;
    margin-left: 30px;
    text-transform: none;
}

.register_button:hover{
    background: #654BFF;
    color: #fff;
    border-color: #654BFF;
    box-shadow: 0 6px 12px #00000031;
}