.post {
    overflow: hidden;
    border-radius: 10px;
    background: #fff;
    border: 1px solid #ddd;
    margin-bottom: 1.5rem;
}

.post_cover_image {
    aspect-ratio: 6/3;
    overflow: hidden;
    max-width: 100%;
    width: 100%;
    /* max-height: 400px; */
    /* padding: 10px; */
    background-color: black;
}

.post_cover_image span {
    width: 100% !important;
    aspect-ratio: 6/3;
    display: flex !important;
    justify-content: flex-start;
    align-items: flex-start;
}

.post_cover_image img {
    width: 100%;
    object-fit: cover;
}

.post_cover_image .img {
    transition: ease-in-out .4s;
}

.loading {
    filter: blur(20px);
    transform: scale(1.1);
}

.not_loading {
    filter: blur(0);
    transform: scale(1);
}

.post_body {
    margin: 1rem 2rem;
}

.post_author {
    display: flex;
    align-items: center;
}

.post_author_image {
    background-color: #e7edf1;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 1rem;
}

.post_author_name {
    color: rgb(0, 0, 0);
    font-size: 1.2rem;
    font-weight: 400;
}

.post_published_time {
    color: rgb(0, 0, 0);
    font-size: 1rem;
    margin-top: 5px;
    font-weight: 400;
}

.post_title {
    color: rgb(42, 42, 42);
    font-size: 1.6rem;
    font-weight: 500;
    margin-top: 1rem;
}

.post_title:hover {
    color: #3b49df;
    cursor: pointer;
}

.post_tags {
    display: flex;
    flex-wrap: wrap;
    margin-top: .5rem;
}

.post_tag {
    font-size: 1rem;
    margin-right: .5rem;
    font-weight: 300;
    border: 1px solid transparent;
    padding: 2px 7px;
    border-radius: 3px;
    transition: .3s;
    cursor: pointer;
}

.post_tag:hover {
    border: 1px solid #ddd;
}

.post_footer {
    margin: .5rem 1rem 1rem;
    display: flex;
    justify-content: end;
    align-items: center;
}

.post_save_button {
    cursor: pointer;
    user-select: none;
    color: rgb(0, 0, 0);
    border: 1px solid rgb(0, 0, 0);
    border-radius: 3px;
    padding: .4rem 1.5rem;
    font-size: 1rem;
    font-weight: 400;
    transition: .3s;
}

.post_save_button:hover {
    background-color: #f0f4ff;
}

@media screen and (max-width: 768px) {

    .post_author_image {
        height: 40px;
        width: 40px;
    }

    .post_author_name {
        font-size: 1rem;
    }

    .post_published_time {
        font-size: .8rem;
    }

    .post_title {
        font-size: 1.4rem;
    }

    .post_tag {
        font-size: .8rem;
    }

    .post_save_button {
        padding: .3rem 1.5rem;
        font-size: .8rem;
    }
}

@media screen and (max-width: 480px) {

    .post_body {
        margin: 1rem;
    }

    .post_author_image {
        height: 35px;
        width: 35px;
    }

    .post_author_name {
        font-size: .9rem;
    }

    .post_published_time {
        font-size: .7rem;
        margin-top: 0rem;
    }

    .post_title {
        font-size: 1.2rem;
        font-weight: 500;
    }

    .post_tag {
        font-size: .7rem;
        margin-right: .2rem;
    }

    .post_save_button {
        padding: .3rem 1.3rem;
        font-size: .7rem;
    }
}